[submodule "MemoryMappedObject"]
	path = lib/MemoryMappedObject
	url = https://gist.github.com/1a873318d022060e5d10079fad2d831a.git
[submodule "components/flir_camdev/lib/LeptonModule"]
	path = components/flir_camdev/lib/LeptonModule
	url = https://github.com/groupgets/LeptonModule.git
[submodule "lib/tclap"]
	path = lib/tclap
	url = https://github.com/eile/tclap.git
